[submodule "antiope-aws-module"]
	path = antiope-aws-module
	url = https://github.com/jchrisfarris/antiope-aws-module.git
[submodule "antiope"]
	path = antiope
	url = https://github.com/jchrisfarris/antiope.git
[submodule "antiope-hunt-scripts"]
	path = antiope-hunt-scripts
	url = https://github.com/jchrisfarris/antiope-hunt-scripts.git
