export MAIN_STACK_NAME=YOURCOMPANY-antiope-ENVIRONMENT
export BUCKET=YOURCOMPANY-antiope
export AWS_DEFAULT_REGION=us-east-1
export MANIFEST=Antiope-ENVIRONMENT-Manifest.yaml
export CUSTOM_PREFIX=YOURCOMPANY-Custom-Antiope
